

  
  .FilterContainer {
    width: 100%;
    height: 20vh;
	display: flex;
  	flex-direction: row;
	align-items: center;
	justify-content: center;
  
  }
  
  .container {
    position: absolute;
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    padding: 20px;
    display: inline-block; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }

  .HomeTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    width: 30%;
    height: 30%;
    margin-left: 35%;
    background: rgba(255, 255, 255, 0.439);
    border-radius: 20px;
    padding: 10px;
    -webkit-text-stroke: 5px rgba(0, 0, 0, 0.095);
    color: rgb(33, 6, 122);
	  text-align: center;
	  justify-content: center;
    text-decoration: none;
    padding: 0.5rem;
   
    
  }

  .selectContainer {
    appearance: none;
    border: 0;
    outline: 0;
    font-size: 15px;
    width: 12rem;
    padding: 1rem 3rem 1rem 0.5rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
      background-color: rgba(65, 105, 225, 0.69);
      color: white;
    border-radius: 0.25em;
    margin-bottom: 150px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &::-ms-expand {
      display: none;
    }
    &:focus {
      outline: none;
    }
    option {
      color: inherit;
    }
  }
